# Non-context access necessary
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$LazyXZCondition
public net.minecraft.world.level.levelgen.SurfaceRules register(Lnet/minecraft/core/Registry;Ljava/lang/String;Lnet/minecraft/util/KeyDispatchDataCodec;)Lcom/mojang/serialization/MapCodec;
# Access to allow working with Context
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockX
public net.minecraft.world.level.levelgen.SurfaceRules$Context blockZ
public net.minecraft.world.level.levelgen.SurfaceRules$Context chunk
public net.minecraft.world.level.levelgen.SurfaceRules$Context stoneDepthBelow
# Access to allow working with MangroveRootPlacement
public net.minecraft.world.level.levelgen.feature.rootplacers.MangroveRootPlacer mangroveRootPlacement
public net.minecraft.world.level.levelgen.feature.rootplacers.MangroveRootPlacer simulateRoots(Lnet/minecraft/world/level/LevelSimulatedReader;Lnet/minecraft/util/RandomSource;Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/Direction;Lnet/minecraft/core/BlockPos;Ljava/util/List;I)Z